/target
.env
.envrc
/local
.vscode
/node_modules
/package-lock.json
/package.json
/contracts
crates/cli/src/pb
crates/sp1-interactive-fraud-proof/*.bin

# macos
.DS_Store

# e2e
1-lighthouse-geth-0-63
el_cl_genesis_data
