[workspace.package]
name = "preconfer"
version = "0.1.0"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = ["bin/taiyi", "bin/taiyi-boost", "crates/cli", "crates/preconfer", "crates/primitives", "examples", "tests"]
resolver = "2"

[workspace.metadata.cargo-machete]
ignored = ["alloy-contract", "tiny-bip39"]

[workspace.dependencies]
taiyi-preconfer = { path = "crates/preconfer" }
taiyi-cli = { path = "crates/cli" }
taiyi-primitives = { path = "crates/primitives" }
taiyi-integration-tests = { path = "tests" }

axum = { version = "0.7.7", features = ["macros"] }
axum-extra = { version = "0.9.4", features = ["typed-header"] }
ethereum-consensus = { git = "https://github.com/ralexstokes/ethereum-consensus", rev = "cf3c404043230559660810bc0c9d6d5a8498d819" }
beacon-api-client = { git = "https://github.com/ralexstokes/ethereum-consensus", rev = "cf3c404043230559660810bc0c9d6d5a8498d819" }
commit-boost = { git = "https://github.com/Commit-Boost/commit-boost-client", rev = "2c44e1b1203d5e7f07138a1d2c081c7192540410" }

# alloy 
alloy-primitives = { version = "0.7.2", default-features = false }
alloy-rpc-types-beacon = { version = "0.2.1", default-features = false }
alloy-rpc-types = { version = "0.2.1", features = ["eth"], default-features = false }
alloy-network = { version = "0.2.1", default-features = false }
alloy-provider = { version = "0.2.1", features = ["reqwest"], default-features = false }
alloy-signer = { version = "0.2.1", default-features = false }
alloy-signer-local = { version = "0.2.1", features = ["mnemonic"] }
alloy-transport = { version = "0.2.1" }
alloy-contract = { version = "0.2.1" }
alloy-eips = { version = "0.2.1", default-features = false }
alloy-consensus = { version = "0.2.1", default-features = false }
alloy-rlp = "0.3.4"
alloy-sol-types = "0.7.2"
alloy-node-bindings = { version = "0.2.1", default-features = false }
alloy-rpc-client = { version = "0.2.1", default-features = false }

eyre = { version = "0.6.12" }
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
tokio = { version = "1.16", features = ["full"] }
thiserror = { version = "1.0.64" }
parking_lot = "0.12"
futures = "0.3.30"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
blst = "0.3.12"
lru = "0.12.3"
priority-queue = "2.1.1"
ahash = "0.8.6"
ssz_rs = { git = "https://github.com/ralexstokes/ssz-rs", rev = "84ef2b71aa004f6767420badb42c902ad56b8b72" }
time = { version = "0.3.36", features = ["macros", "formatting", "parsing"] }
async-trait = "0.1.83"
reqwest = "0.12.7"
