[workspace.package]
name = "preconfer"
version = "0.1.0"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = ["bin", "crates/cli", "crates/pool", "crates/preconfer", "crates/primitives", "tests"]
resolver = "2"

[workspace.dependencies]
luban-preconfer = { path = "crates/preconfer" }
luban-cli = { path = "crates/cli" }
luban-primitives = { path = "crates/primitives" }
luban-pool = { path = "crates/pool"}
luban-integration-tests = { path = "tests" }

ethereum-consensus = { git = "https://github.com/ralexstokes/ethereum-consensus.git", rev = "cf3c404043230559660810bc0c9d6d5a8498d819" }
jsonrpsee = { version = "0.22.4", features = ["server", "http-client", "ws-client", "macros"] }
alloy = { version = "0.2", features = ["full", "rpc-types-beacon", "rlp", "signer-mnemonic", "sol-types"] }
eyre = { version = "0.6" }
serde = { version = "1.0.200", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1.16", features = ["full"] }
thiserror = { version = "1" }
parking_lot = "0.12"
futures = "0.3.30"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
blst = "0.3.12"
beacon-api-client = { git = "https://github.com/ralexstokes/ethereum-consensus" }

