[workspace.package]
name = "preconfer"
version = "0.1.0"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [
    "bin/taiyi",
    "bin/taiyi-boost",
    "bin/taiyi-cli",
    "crates/cli",
    "crates/preconfer",
    "crates/primitives",
    "examples",
    "tests"
]
resolver = "2"

[workspace.metadata.cargo-machete]
ignored = ["alloy-contract", "tiny-bip39", "derive_more", "tree_hash", "ssz_rs"]

[workspace.dependencies]
taiyi-preconfer = { path = "crates/preconfer" }
taiyi-cli = { path = "crates/cli" }
taiyi-primitives = { path = "crates/primitives" }
taiyi-integration-tests = { path = "tests" }

axum = { version = "0.7.7", features = ["macros"] }
axum-extra = { version = "0.9.4", features = ["typed-header"] }
ethereum-consensus = { git = "https://github.com/ralexstokes/ethereum-consensus", rev = "cf3c404043230559660810bc0c9d6d5a8498d819" }
beacon-api-client = { git = "https://github.com/ralexstokes/ethereum-consensus", rev = "cf3c404043230559660810bc0c9d6d5a8498d819" }
commit-boost = { git = "https://github.com/Commit-Boost/commit-boost-client", rev = "546b32eec531e90eb0915521fe60739301b35513" }
cb-common = { git = "https://github.com/Commit-Boost/commit-boost-client", rev = "546b32eec531e90eb0915521fe60739301b35513" }

# alloy
alloy-primitives = { version = "0.8.8", default-features = false }
alloy-rpc-types-beacon = { version = "0.5.2", default-features = false }
alloy-rpc-types = { version = "0.5.2", features = ["eth"], default-features = false }
alloy-network = { version = "0.5.2", default-features = false }
alloy-provider = { version = "0.5.2", features = ["reqwest"], default-features = false }
alloy-signer = { version = "0.5.2", default-features = false }
alloy-signer-local = { version = "0.5.2", features = ["mnemonic"] }
alloy-transport = { version = "0.5.2" }
alloy-contract = { version = "0.5.2" }
alloy-eips = { version = "0.5.2", default-features = false }
alloy-consensus = { version = "0.5.2", default-features = false }
alloy-rlp = "0.3.8"
alloy-sol-types = "0.8.8"
alloy-node-bindings = { version = "0.5.2", default-features = false }
alloy-rpc-client = { version = "0.5.2", default-features = false }
reth-primitives = { git = "https://github.com/paradigmxyz/reth", tag = "v1.1.0" }

clap = { version = "4.5.20", features = ["derive", "env"] }
eyre = { version = "0.6.12" }
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.132"
tokio = { version = "1.37.0", features = ["full"] }
thiserror = { version = "1.0.64" }
parking_lot = "0.12"
futures = "0.3.31"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
blst = "0.3.12"
lru = "0.12.5"
priority-queue = "2.1.1"
ahash = "0.8.6"
ssz_rs = { git = "https://github.com/ralexstokes/ssz-rs", rev = "ec3073e2273b4d0873fcb6df68ff4eff79588e92" }
time = { version = "0.3.36", features = ["macros", "formatting", "parsing"] }
async-trait = "0.1.83"
reqwest = "0.12.8"
secp256k1 = { version = "0.30.0", features = ["global-context"] }
k256 = "0.13.4"
derive_more = "1.0.0"
tree_hash = "0.8.0"
tree_hash_derive = "0.8.0"
futures-util = "0.3.31"
lazy_static = "1.5.0"
prometheus = "0.13.4"
hex = "0.4.3"
