name: CI

on:
  workflow_call:
  push:
    branches:
      - dev
    paths-ignore:
      - 'docs/**'
      - 'examples/**'
      - '.github/workflows/docker.yml'
      - '.github/workflows/e2e.tests.yml'
      - '.github/workflows/release.yml'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'examples/**'
      - '.github/workflows/docker.yml'
      - '.github/workflows/e2e.tests.yml'
      - '.github/workflows/release.yml'

env:
  FOUNDRY_PROFILE: ci
  API_KEY_INFURA: ${{ secrets.API_KEY_INFURA }}

jobs:
  build-rust:
    name: Rust Project
    runs-on: ubuntu-latest-m
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy,rustfmt
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-sort@2.0.1,cargo-machete,cargo-llvm-cov
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: false
      - name: Install SP1 toolchain
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up --version v4.0.1
          ~/.sp1/bin/cargo-prove prove --version
      - name: Cargo check
        run: cargo check
      - name: Lint check
        run: |
          make lint
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Run tests
        run: |
          make test
      - name: Run coverage
        run: |
          make coverage-codecov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          file: ./codecov.json
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          verbose: true
