name: Docker CI

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest-m

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Get latest tag
        id: get_tag
        run: echo "TAG=$(git describe --tags)" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ vars.DOCKER_REPO_NAME }}/taiyi:latest
            ${{ vars.DOCKER_REPO_NAME }}/taiyi:${{ env.TAG }}
